* {
    line-height: 120%;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    overscroll-behavior: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}


[class^="ri-"] {
    font-size: 21px !important;
    line-height: 21px !important;
}



.content::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(167, 167, 167);
}


.webkit_scroll_none::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}